<br />
<p>Uma entrega foi cadastrada. Veja mais detalhes abaixo:</p>
<p>Nome do recebedor: <strong>{{ name }}</strong></p>
<p>Nome do produto: <strong>{{ product }}</strong></p>

<p>Detalhes do cliente:</p>
<P>Cidade: <strong>{{ city }}</strong></P>
<P>Estado: <strong>{{ state }}</strong></P>
<P>Rua: <strong>{{ street }}</strong></P>
